# 資料合併

## 資料介紹
我使用的是兩個不同提供者的資料，其一是歐洲聯盟成員國的基本資料，另一個為2018年申根簽證的數據統計，合併資料其目的為對照國家基本資料與簽證合格率。

## 步驟
1.觀察並調整資料
2.載入並檢視資料
3.合併!!

### 調整資料
由於我的資料量不大，因此我觀察後，直接在Excel使用取代空值，並將不需要的資料清除(在歐盟會員國基本資料中的2004年GDP、加入歐盟年份)  
<img src="./2019-10-17.png" width="40%" />

### 載入資料
這裡使用pandas，快速又方便~

In [1]:
import pandas as pd

In [2]:
data1 = pd.read_csv("C:\\Users\\pan\\Downloads\\european-union\\state.csv")
data2 = pd.read_excel("C:\\Users\\pan\\Downloads\\schengen-visa-stats\\2018-consulates-schengen-visa-stats.xlsx","Schengen totals - visas issued",skiprows = 1)

### 檢視資料

In [3]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 10 columns):
Country                      37 non-null object
European Union               33 non-null object
Accession Year               37 non-null object
Council Votes                37 non-null object
European Parliament Seats    37 non-null object
Currency Code                37 non-null object
Language                     37 non-null object
Population                   37 non-null int64
Area (km²)                   37 non-null int64
Population Density           37 non-null int64
dtypes: int64(3), object(7)
memory usage: 3.0+ KB

In [4]:
data1.head()

,Country,European Union,Accession Year,Council Votes,European Parliament Seats,Currency Code,Language,Population,Area (km²),Population Density
0,Albania,Candidate,none,none,none,ALL,Albanian,2892302,28748,101
1,Austria,Member,1995,10,18,EUR,German,8576261,83855,102
2,Belgium,Member,1958,12,21,EUR,"Dutch, French, German",11237274,30528,368
3,Bulgaria,Member,2007,10,17,BGN,Bulgarian,7202198,110994,65
4,Croatia,Member,2013,7,11,HRK,Croatian,4225316,56594,75

In [5]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 9 columns):
No.                                              25 non-null float64
Schengen State                                   26 non-null object
Uniform visas applied for                        26 non-null int64
Total  uniform visas issued (including MEV)      26 non-null int64
Multiple entry uniform visas (MEVs) issued       26 non-null int64
Total LTVs issued                                25 non-null float64
Uniform visas not issued                         26 non-null int64
Not issued rate for uniform visas                26 non-null float64
Share of MEVs                                    26 non-null float64
dtypes: float64(4), int64(4), object(1)
memory usage: 1.9+ KB

In [6]:
data2.head()

,No.,Schengen State,Uniform visas applied for,Total uniform visas issued (including MEV),Multiple entry uniform visas (MEVs) issued,Total LTVs issued,Uniform visas not issued,Not issued rate for uniform visas,Share of MEVs
0,1.0,France,4010604,3345400,1030034,3311.0,629997,0.157083,0.307896
1,2.0,Germany,2056296,1838775,1555031,30822.0,186699,0.090794,0.845689
2,3.0,Italy,1844140,1703912,1234338,4346.0,135882,0.073683,0.724414
3,4.0,Spain,1701379,1502696,659280,5871.0,157494,0.092568,0.438731
4,5.0,Greece,855285,805115,595272,8157.0,42013,0.049122,0.739363

### 資料合併

In [7]:
df_merge = pd.merge(data1,data2,left_on ="Country",right_on = "Schengen State")
display(data1.head(),data2.head(),df_merge.head())

,Country,European Union,Accession Year,Council Votes,European Parliament Seats,Currency Code,Language,Population,Area (km²),Population Density
0,Albania,Candidate,none,none,none,ALL,Albanian,2892302,28748,101
1,Austria,Member,1995,10,18,EUR,German,8576261,83855,102
2,Belgium,Member,1958,12,21,EUR,"Dutch, French, German",11237274,30528,368
3,Bulgaria,Member,2007,10,17,BGN,Bulgarian,7202198,110994,65
4,Croatia,Member,2013,7,11,HRK,Croatian,4225316,56594,75

,No.,Schengen State,Uniform visas applied for,Total uniform visas issued (including MEV),Multiple entry uniform visas (MEVs) issued,Total LTVs issued,Uniform visas not issued,Not issued rate for uniform visas,Share of MEVs
0,1.0,France,4010604,3345400,1030034,3311.0,629997,0.157083,0.307896
1,2.0,Germany,2056296,1838775,1555031,30822.0,186699,0.090794,0.845689
2,3.0,Italy,1844140,1703912,1234338,4346.0,135882,0.073683,0.724414
3,4.0,Spain,1701379,1502696,659280,5871.0,157494,0.092568,0.438731
4,5.0,Greece,855285,805115,595272,8157.0,42013,0.049122,0.739363

,Country,European Union,Accession Year,Council Votes,European Parliament Seats,Currency Code,Language,Population,Area (km²),Population Density,No.,Schengen State,Uniform visas applied for,Total uniform visas issued (including MEV),Multiple entry uniform visas (MEVs) issued,Total LTVs issued,Uniform visas not issued,Not issued rate for uniform visas,Share of MEVs
0,Austria,Member,1995,10,18,EUR,German,8576261,83855,102,12.0,Austria,306133,280847,154902,6188.0,19098,0.062385,0.551553
1,Belgium,Member,1958,12,21,EUR,"Dutch, French, German",11237274,30528,368,16.0,Belgium,219827,173598,86522,913.0,36906,0.167887,0.498404
2,Czech Republic,Member,2004,12,21,CZK,Czech,10538275,78866,134,7.0,Czech Republic,662902,630071,173259,1510.0,31206,0.047075,0.274983
3,Denmark,Member,1973,7,13,DKK,Danish,5659715,43075,131,18.0,Denmark,164003,149744,72905,154.0,11472,0.069950,0.486864
4,Estonia,Member,2004,4,6,EUR,Estonian,1314870,45227,29,20.0,Estonia,127561,125465,112768,48.0,2048,0.016055,0.898800